canvas {
	position: absolute;
}

#layer1 {
	margin:auto;
	z-index: 0;
}

#layer2 {
	margin:auto;
	z-index: 1;
}

#ballLayer {
	margin:auto;
	z-index: 2;
	pointer-events: none;
}
  
/*-----globals-----*/
body {
	margin: 0;
}

h3 {
    text-transform: capitalize;
}

.container {
	margin: 0 15vw 0 15vw;
	height: inherit;
	width: 70vw; 
}

/*-----navbar-----*/
.navbar {
	height: 75px;
	width:100%;
	background-color: #333;
}

.navbar .container {
	position: absolute;
}

ul#links{
	display: flex;
	position: relative;
	margin: 27px 0;
}
ul#login{
	display: flex;
	position: relative;
	margin: 27px 0;
}

#tLinks {
	width:70%;
}

#tLogin {
	width:30%;
}

li.nav {
	list-style-type: none;
	display: inline;
}

li a {
	text-align: center;
	padding: 28px 16px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

li a:hover{
	background-color: #111;
}

li a.active{
	background-color: #111;
	padding: 32px 16px;
}
/*----form-----*/
table#tregister {
	display:flex;
	width:25vw;
	margin: 3vw auto;
	background-color: #706B6A;
}
ul.form {
	padding:auto;
	margin:auto;
}

li.form {
	display:flex;
	list-style-type: none;
	padding: 10px 2.5vw;
	margin: auto;
	width:100%;
}

.reg-input {
	width: 100%;
	padding: 10px;
	margin: auto;
	border: 1px solid;
}

#picross-title {
	text-align: center;
	margin: auto;
	font-size: 60px;
}

#gender {
	padding: 5px;
	margin: auto;
	width: 100%;
	border: 1px solid;
}

#avatar {
	display: none;
}

#button {
	display: block;
	background-color: white;
	width: 100%;
	height: 30px;
	padding: 2px;
	opacity: 1;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
#button:hover{

	opacity: 0.8;
	background-color: rgba(255, 255, 255, 0.452);
	
}
#register-submit:hover{
	opacity: 1;
	
}
#register-submit {
	font-weight: bold;
    background-color: teal;
    color: white;
    padding: 15px 0px;
    margin: 0;
    border: none;
	opacity: 0.8;
    width: 100%;
	border-radius: 30px;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

/*-----body-----*/
td {
	vertical-align:top;
}

#win {
	display: none;
}

#demo {
	display: none;
}

.controls {
	width:20%;
}

.ccontainer {
	width:80%;
}

.statistics {
	width:20%;
}

/*-----sliders-----*/
.slider{
	-webkit-appearance: none;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background: grey;
    outline: none;
    opacity: .5;
    -webkit-transition: .4s;
    transition: opacity .4s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: teal;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: teal;
    cursor: pointer;
}

/*-----footer-----*/
.footer {
	position: fixed;
	color:white;
	text-align: center;
	font-weight: bold;
	background-color:#333;
	width:100%;
	height: 40px;
	padding-bottom: 5px;
	bottom: 0;
	left: 0;
}

  