canvas {
	position: absolute;
	width:550px;
}

#layer1 {
	margin:auto;
	z-index: 0;
}

#layer2 {
	margin:auto;
	z-index: 1;
}

#ballLayer {
	margin:auto;
	z-index: 2;
	pointer-events: none;
}
  
/*-----globals-----*/
body {
	margin: 0;
}

h3 {
    text-transform: capitalize;
}

.container {
	margin: 0 15vw 0 15vw;
	height: inherit;
	width: 70vw; 
}

/*-----navbar-----*/
.navbar {
	height: 75px;
	width:100%;
	background-color: #333;
}

.navbar .container {
	position: absolute;
}

ul#links{
	display: flex;
	position: relative;
	margin: 27px 0;
	width:100%;
}
ul#login{
	display: flex;
	position: relative;
	margin: 27px 0;
}
ul#logout{
	margin: 0;
	padding: 0;
}

#tLinks {
	width:50%;
}

#tLogin {
	width:20%;
}
#tLogout {
	width:20%;
}

li.logout {
	list-style-type: none;
	display: table-cell;
	vertical-align: middle;
	margin:0;
}

li#viewUser {
	margin:0;
	padding: 1px 10px 1px 10px;
	color: white;
	text-align:center;
	vertical-align:middle;
}

#avatarImg {
	width:60px;
	height:60px;
	padding-left:5px;
}

#logout-submit {
	margin:0;
	padding: 0px 10px 0px 10px;
}

li.nav {
	list-style-type: none;
	display: inline-block;
}

li a {
	text-align: center;
	padding: 28px 16px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

li a:hover{
	background-color: #111;
}

li a.active{
	background-color: #111;
	padding: 32px 16px;
}
/*----form-----*/
table#tregister {
	display:flex;
	width:40%;
	margin: 0 auto;

}
ul.form {
	padding:0;
	margin:0;
}

li.form {
	display:inline-block;
	list-style-type: none;
	padding: 1.8%;
	margin: auto;
	width:95%;
}

.reg-input {
	width: 96%;
	padding: 1.8% 2%;
	margin: auto;
	border: none;
	background-color: rgba(255, 208, 0, 0.747);
	color:white;
	border-radius: 10px;
}

#picross-title {
	display: inline-block;
	margin:auto;
	width:90%;
	text-align:center;
	padding: 0% 5% 0% 5%;
	color:white;
	font-size: 5vw;
}

#errorMsg {
	display: inline-block;
	margin:auto;
	width:90%;
	text-align:center;
	padding: 0% 5% 0% 5%;
	color:white;
	font-size: 11px;
}

select#gender {
	width:100%;
	margin:auto;
	background-color: rgba(255, 208, 0, 0.747);
	color:white;
	border: none;
}

.reg-input::placeholder {
	color:white;
}

#gender {
	padding: 2% 0% 2% 0%;
	margin: auto;
	width: 100%;
	border-radius: 10px;
	background-color: rgba(255, 208, 0, 0.747);
	color:white;
}

#avatar {
	display: none;
}

#button {
	display: inline-block;
	background-color: rgba(255, 208, 0, 0.747);
	color:white;
	width: 99%;
	height: 40px;
	padding: 0 2%;
	border: none;
	opacity: 1;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align:left;
}
#button:hover{

	opacity: 0.8;
	
}
#register-submit:hover{
	opacity: 1;
	
}
#register-submit {
	font-weight: bold;
	background-color: rgba(0, 128, 128, 0.747);
    color: white;
    padding: 15px 0px;
    margin: 0;
    border: none;
	opacity: 0.8;
    width: 100%;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

/*-----body-----*/
video#video1 {
	margin: 1% 5% 1% 5%;
	padding: 0;
}

td {
	vertical-align:top;
	color:snow;
}

#win {
	display: none;
}

.controls {
	width:20%;
	
}

.ccontainer {
	width:70%;
}

.statistics {
	width:10%;
}

td.statistics {
	text-align: center;

}
table#tscore {
	text-align:center;
	display:inline-block;
}

/*-----sliders-----*/
.slider{
	-webkit-appearance: none;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background: grey;
    outline: none;
    opacity: .5;
    -webkit-transition: .4s;
    transition: opacity .4s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: teal;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: teal;
    cursor: pointer;
}

/*----cv-----*/
table#tCvBox {
	display:flex;
	width: 25%;
	margin: 0 auto;
	margin-top: 35px;
	padding: 100px;
	background: rgba(0,0,0,0.4);
}
.cv1 {
	width: 214px;
	height: 214px;
	border-radius: 50%;
}

/*-----footer-----*/
.footer {
	position: fixed;
	color:white;
	text-align: center;
	font-weight: bold;
	background-color:#333;
	width:100%;
	height: 40px;
	padding-bottom: 5px;
	bottom: 0;
	left: 0;
}

  