body{
  margin: 0;
}
canvas {
	margin: 10px;
	position: absolute;
	left: 0;
	top: 0;
}
#wrap {
	position: relative;
	left: 200px;
	bottom: 300px;
}
#controls {
	position: relative;
	left: 8%;
	top: 20vh;
}
#mistakes{
	margin-left: 3%;
}
h1.hidden{
	visibility: hidden;
}


  